* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.container{
    display: flex;
    height: 100%;
}

.cont-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4fc3f7;
    width: 70%;
}
.cont-welcome img {
    height: 250px;
    width: 250px;
}

.cont-welcome button {
    margin-top: 10%;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cont-welcome button:hover {
    color: white;
    border: 1px solid #01417e;
}

.content-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.content-form h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #01417e;
}

.icons-form {
    margin: 15px 0;
}

.icons-form i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    color: #01417e;
    margin: 0 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.76);
}

.icons-form i:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.info-form {
    display: flex;
    flex-direction: column;
}

.info-form label {
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
}

.info-form label i {
    color: #01417e;
    margin-right: 10px;
}

.info-form label input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.575);
}

.info-form label input:focus {
    outline: none;
    background-color: rgba(12, 102, 238, 0.1);
}

.info-form button {
    margin-left: 30px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    font-weight: bold;
    color: #01417e;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.575);
}

.info-form button:hover {
    background-color: #01417e;
    color: white;
}

.confirmar-form {
    display: flex;
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom: 10px;
}

.inputsForm {
    display: flex;
    gap: 1rem;
}

.confirmar-form input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.confirmar-form p {
    color: rgb(12, 102, 238);
    text-shadow: 2px 2px 4px rgba(0, 255, 255, 0.5);
    font-size: 14px;
}

.confirmar-form input[type="checkbox"]:checked + p {
    color: #1f5300; /* Cambia el color del texto */
}

.Inicio {
    position: absolute;
    top: 5px;
}

.Inicio img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

/* Estilos para pantallas con un ancho máximo de 768px (tablet y dispositivos más pequeños) */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .cont-welcome{
        padding: 15px;
    }

    .content-form{
        padding: 15px;
    }

    .cont-welcome, .content-form {
        width: 100%;
    }

    .cont-welcome button, .info-form button, .buttonConfirm {
        margin-left: 0;
    }
    .content-form h1{
        font-size: 1.8rem;
        text-align: center;
        padding: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .content-form h1{
        font-size: 2.3rem;
        text-align: center;
        padding: 15px;
    }

    .info-form label {
        font-size: 1.8rem;
    }
    
    .info-form input[type="text"],
    .info-form input[type="password"],
    .info-form input[type="checkbox"] {
        font-size: 1.8rem;
        padding: 10px;
    }
}

.error-box{
    color: red;
    margin-top: 2%;
    font-weight: bold;
    font-size: 0.8rem;
}

.error-checkbox{
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5%;
    margin-top: -2%;
}

.checkboxUnselected {
    border-color: red;
    color:red;
}